@use '../../../abstract/colors';
@use '../../../abstract/mixins';

$left-and-right-content-gap-large: 150px;
$left-and-right-content-gap-small: 28px;

.project-section-contents--item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $left-and-right-content-gap-large;

    @include mixins.small {
        flex-direction: column;
        align-items: center;
        gap: $left-and-right-content-gap-small;
    }
}
