/**
    * Abstract
*/
/**
    *Color function
*/
/**
    *Color function
*/
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Condensed:wght@300;400;700&display=swap");
/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    * base
*/
html {
  font-size: 62.5%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  background-color: inherit;
}

/**
    * layout
*/
/**
    *Color function
*/
header {
  width: 100%;
  height: 85px;
  background-color: #333333;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999999;
}

/**
    *Color function
*/
main {
  padding-top: 85px;
}

/**
    *Color function
*/
section {
  background-color: #333333;
  padding: 80px 32px;
}
section:nth-child(even) {
  background-color: #282828;
}
section:first-child {
  height: calc(var(--vh, 1vh) * 100 - 85px - 160px);
}

/**
    *Color function
*/
/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
footer {
  padding: 80px 32px;
  background-color: #282828;
}
footer img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  footer img {
    left: 0;
    transform: translateX(0px);
  }
}

.footer-description {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.048rem;
  color: #dfba37;
  margin-bottom: 60px;
  line-height: 110%;
}
@media (max-width: 600px) {
  .footer-description {
    text-align: left;
    margin-bottom: 30px;
  }
}

.footer-navigation {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.footer-navigation .footer-navigation-anchor a {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.048rem;
  color: #fff;
  text-transform: uppercase;
}
.footer-navigation .footer-navigation-anchor a:hover {
  color: #dfba37;
}
@media (max-width: 600px) {
  .footer-navigation {
    justify-content: start;
  }
}

.footer-sns-link-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer-sns-link-list .footer-sns-link {
  width: 24px;
  height: 24px;
}
.footer-sns-link-list .footer-sns-link svg {
  fill: #fff;
}
.footer-sns-link-list .footer-sns-link svg:hover {
  fill: #dfba37;
}
@media (max-width: 600px) {
  .footer-sns-link-list {
    justify-content: left;
  }
}

/**
    * components
*/
/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
.logo--desktop, .logo--mobile {
  margin-left: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 600px) {
  .logo--mobile {
    display: none;
  }
}
@media (max-width: 600px) {
  .logo--desktop {
    display: none;
  }
}

/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    *Color function
*/
.header-navigation-anchor-list {
  position: relative;
  display: flex;
  margin-right: 32px;
  gap: 40px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.048rem;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .header-navigation-anchor-list {
    display: none;
  }
}

.header-navigation-anchor a {
  transition: 0.25s;
}
.header-navigation-anchor a:hover {
  color: #dfba37;
}

/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    *Color function
*/
.hamburger-button {
  position: relative;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: 32px;
}
@media (min-width: 600px) {
  .hamburger-button {
    display: none;
  }
}

.hamburger-bar {
  position: relative;
  width: 24px;
  height: 4px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.25s;
}
.hamburger-bar.close:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}
.hamburger-bar.close:nth-child(2) {
  display: none;
  transform: translateY(4px) rotate(45deg);
}
.hamburger-bar.close:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}

/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    *Color function
*/
.section-wrapper {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media (min-width: 600px) {
  .section-wrapper .title {
    font-size: 6.4rem;
    font-weight: 400;
    font-family: "Dangrek", sans-serif;
    letter-spacing: -0.192rem;
    margin-bottom: 80px;
  }
}
@media (max-width: 600px) {
  .section-wrapper .title {
    font-size: 3.6rem;
    font-weight: 400;
    font-family: "Dangrek", sans-serif;
    letter-spacing: -0.108rem;
    margin-bottom: 64px;
  }
}

/**
    *Color function
*/
hr {
  border: 1px dashed #5b5b5b;
  width: 40px;
  margin: 120px 0;
  position: relative;
}

.lottie-box {
  position: absolute;
}

/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    *Color function
*/
.hamburger--menu {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #282828;
  overflow: hidden;
  height: 612px;
  transition: 0.25s transform cubic-bezier(0, 0, 0, 1);
}
@media (min-width: 600px) {
  .hamburger--menu {
    display: none;
  }
}
.hamburger--menu.close {
  transform: translateY(-612px);
}
.hamburger--menu--logo {
  position: relative;
  margin-bottom: 80px;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 120px;
}
.hamburger--menu--navigation-anchor-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 52px;
}
.hamburger--menu--navigation-anchor-list li {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.072rem;
  text-transform: uppercase;
}
.hamburger--menu--navigation-anchor-list li a {
  transition: 0.25s;
  transition-property: color;
}
.hamburger--menu--navigation-anchor-list li a:target {
  padding-top: 300px;
}
.hamburger--menu--navigation-anchor-list li:hover a {
  color: #dfba37;
}

/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    *Color function
*/
/**
    * Skills List
*/
.skills-list {
  /**
      * Skills List --Large Version--
  */
  /**
      * Skills List --Small Version--
  */
}
@media (min-width: 600px) {
  .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  .skills-list__item {
    position: relative;
    height: 200px;
  }
  .skills-list__item__icon-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
  }
  .skills-list__item__icon-box__icon {
    width: 120px;
    stroke: #fff;
    z-index: 1;
  }
  .skills-list__item__icon-box__icon--fill {
    width: 120px;
    fill: #fff;
  }
  .skills-list__item__icon-box:hover .skills-list__item__icon-box__icon {
    transition-property: stroke;
    transition: 0.25s;
    stroke: #dfba37;
  }
  .skills-list__item__icon-box:hover .skills-list__item__icon-box__icon--fill {
    transition-property: fill;
    transition: 0.25s;
    fill: #dfba37;
  }
  .skills-list__item__title {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: "RobotoCondensed", sans-serif;
    letter-spacing: -0.072rem;
    color: #fff;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .skills-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .skills-list__item {
    position: relative;
    bottom: -50px;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    border-radius: 10px;
    padding: 12px 12px;
    transition: 1s ease-in-out;
    transition-property: bottom, opacity;
    opacity: 0;
  }
  .skills-list__item:not(.not-show) {
    opacity: 1;
    bottom: 0px;
  }
  .skills-list__item__icon-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills-list__item__icon-box__icon {
    width: 48px;
    z-index: 1;
    stroke: #dfba37;
  }
  .skills-list__item__icon-box__icon--fill {
    width: 48px;
    z-index: 1;
    fill: #dfba37;
  }
  .skills-list__item__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 400;
    font-family: "RobotoCondensed", sans-serif;
    letter-spacing: -0.072rem;
    color: #fff;
  }
}

/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    *Color function
*/
.skills-section-contents {
  width: 100%;
}
.skills-section-contents .skills-section-contents-title {
  font-size: 4.8rem;
  font-weight: 400;
  font-family: "Dangrek", sans-serif;
  letter-spacing: -0.144rem;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .skills-section-contents .skills-section-contents-title {
    font-size: 3.6rem;
    font-weight: 400;
    font-family: "Dangrek", sans-serif;
    letter-spacing: -0.108rem;
  }
}

/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    *About Section Contents List
        - <ul> Tag
*/
.about-section-contents {
  display: flex;
  gap: 80px;
}
@media (min-width: 600px) {
  .about-section-contents {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .about-section-contents {
    flex-direction: column;
    gap: 80px;
  }
}

/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    *Color function
*/
/**
    *About Section Contents Item
        - <li> Tag
*/
.about-section-contents--item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.048rem;
}
@media (min-width: 600px) {
  .about-section-contents--item {
    flex-direction: column;
    width: 300px;
  }
}
@media (max-width: 600px) {
  .about-section-contents--item {
    width: 100%;
    left: -20px;
    opacity: 0;
    transition: 1s;
    transition-property: left, opacity;
  }
  .about-section-contents--item:not(.not-show) {
    left: 0px;
    opacity: 1;
    bottom: 0px;
  }
}
.about-section-contents--item--icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.about-section-contents--item--icon_box--icon {
  fill: #dfba37;
}
@media (min-width: 600px) {
  .about-section-contents--item--subscribe {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .about-section-contents--item--subscribe {
    text-align: left;
  }
}

/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    *Color function
*/
.contect-section-contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 1200px;
  transform: translateX(-50%);
  left: 50%;
}
@media (max-width: 600px) {
  .contect-section-contents {
    flex-direction: column;
  }
}

/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    *Color function
*/
.contect-section-contents__form {
  flex-grow: 1;
  max-width: 800px;
}
@media (max-width: 600px) {
  .contect-section-contents__form {
    width: 100%;
  }
}
.contect-section-contents__form form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contect-section-contents__form input,
.contect-section-contents__form textarea {
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid #5b5b5b;
  background: none;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.048rem;
  color: #dfba37;
}
.contect-section-contents__form input::placeholder,
.contect-section-contents__form textarea::placeholder {
  color: #fff;
}
.contect-section-contents__form input:focus,
.contect-section-contents__form textarea:focus {
  outline: 1px solid #dfba37;
}
.contect-section-contents__form button {
  border: none;
  border-radius: 5px;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.072rem;
  color: #333333;
  padding: 12px 0;
  background-color: #dfba37;
  transition: background-color 0.25s;
}
.contect-section-contents__form button:hover {
  background-color: #e8ce73;
}

/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
/**
    *Color function
*/
.contect-section-contents__title {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 600px) {
  .contect-section-contents__title {
    text-align: center;
  }
}
.contect-section-contents__title .title {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 400;
  font-family: "Dangrek", sans-serif;
  letter-spacing: -0.144rem;
}
@media (max-width: 600px) {
  .contect-section-contents__title .title {
    font-size: 3.6rem;
    font-weight: 400;
    font-family: "Dangrek", sans-serif;
    letter-spacing: -0.108rem;
  }
}
.contect-section-contents__title .subtitle {
  color: #dfba37;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.048rem;
}
@media (max-width: 600px) {
  .contect-section-contents__title .subtitle {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: "RobotoCondensed", sans-serif;
    letter-spacing: -0.048rem;
  }
}
@media (max-width: 600px) {
  .contect-section-contents__title {
    text-align: center;
  }
}

.project-section-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
    *Color function
*/
/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
.project-section-contents--item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
@media (max-width: 600px) {
  .project-section-contents--item {
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
}

/**
    *Color function
*/
/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
.project-section-contents--item--image {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  height: 400px;
  border: 2px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 600px) {
  .project-section-contents--item--image {
    transform-style: preserve-3d;
    transform: rotateY(0deg) translateZ(100px);
    opacity: 0;
  }
  .project-section-contents--item--image:not(.not-show) {
    transform: perspective(2000px) rotateY(30deg) translateZ(100px);
    opacity: 1;
  }
  .project-section-contents--item--image:hover {
    transform: rotateY(0deg) translateZ(100px);
  }
}
@media (max-width: 600px) {
  .project-section-contents--item--image {
    transform: translateY(-50px);
    opacity: 0;
  }
  .project-section-contents--item--image:not(.not-show) {
    opacity: 1;
    transform: translateY(0px);
  }
  .project-section-contents--item--image:hover {
    transform: translateY(-10px);
  }
}

/**
    *Color function
*/
/**
    *Media Query Mixin
*/
/**
    *Typography Mixin
*/
.project-section-contents--item--information {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 800px;
  /**
      * Title
  */
  /**
      * Details
          - exclude title
  */
}
.project-section-contents--item--information--title {
  font-size: 4.8rem;
  font-weight: 400;
  font-family: "Dangrek", sans-serif;
  letter-spacing: -0.144rem;
  color: #fff;
}
.project-section-contents--item--information--details {
  position: relative;
  max-width: 300px;
  transition: 0.25s;
  transform: translateX(-30px);
}
.project-section-contents--item--information--details:not(.not-show) {
  opacity: 1;
  transform: translateX(0px);
}
.project-section-contents--item--information--details--subtitle {
  margin-bottom: 8px;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.072rem;
}
.project-section-contents--item--information--details--used-skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.project-section-contents--item--information--details--used-skills-list--item {
  background-color: #dfba37;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.048rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.25s;
}
.project-section-contents--item--information--details--used-skills-list--item:hover {
  background-color: #e8ce73;
}
.project-section-contents--item--information--details--url {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.048rem;
  transition: color 0.25s;
}
.project-section-contents--item--information--details--url:hover {
  color: #e8ce73;
}
.project-section-contents--item--information--details--description {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "RobotoCondensed", sans-serif;
  letter-spacing: -0.048rem;
}

/*# sourceMappingURL=main.css.map */
