@use '../abstract/colors';
@use '../abstract/variables';
section {
    //background 짝수번째만 진한색상으로 변경
    background-color: colors.$background-color;
    &:nth-child(even) {
        background-color: colors.$background-color-darken;
    }
    //첫번째 배너만 100vh height 적용 나머지는 100% height 유지
    &:first-child {
        height: calc(100vh - variables.$header-height);
    }

    padding: variables.$section-padding;
}
