@use '../abstract/variables';
@use '../abstract/mixins';

.logo {
    //fixed속성 때문에 header에 padding이 안들어가서 margin으로 대체
    margin-left: variables.$side-padding;

    //drag 방지
    @include mixins.none-drag;

    &.mobile {
        @include mixins.large {
            display: none;
        }
    }
    &.desktop {
        @include mixins.small {
            display: none;
        }
    }
}
