@use '../base/typography';

/**
    *Media Query Mixin
*/
$breakpoint: 600px;
@mixin small {
    @media (max-width: $breakpoint) {
        @content;
    }
}
@mixin large {
    @media (min-width: $breakpoint) {
        @content;
    }
}

/**
    *Typography Mixin
*/
@mixin typography($style) {
    $style-info: map-get(typography.$fontsizes, $style);

    @if $style-info {
        $font-size: map-get($style-info, 'font-size');
        $font-weight: map-get($style-info, 'font-weight');
        $font-family: map-get($style-info, 'font-family');
        $letter-spacing: map-get($style-info, 'letter-spacing');

        font-size: $font-size;
        font-weight: $font-weight;
        font-family: $font-family, sans-serif;
        letter-spacing: $letter-spacing;
    }
}

@mixin none-drag {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
