//global
$side-padding: 32px;

//header
$header-height: 85px;
$header-width: 100%;

//Navigation
$navigation-item-gap: 40px;

//Hamburger
$hamburger-width: 24px;
$hamburger-height: 4px;
$hamburger-border-radius: 3px;
$hamburger-gap: 4px;

//Section
$section-padding: 80px $side-padding;
$section-min-height: calc(700px - $header-height);
